flows.json
[{"id":"cc64dd72e548f89a","type":"tab","label":"Home Page","disabled":false,"info":"","env":[]},{"id":"24e1411905e488b9","type":"tab","label":"Settings Page","disabled":false,"info":"","env":[]},{"id":"7bef6a87fd115472","type":"tab","label":"UI Settings","disabled":false,"info":"","env":[]},{"id":"8c23be714302cd61","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#09759f","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#09759f","edited":true},"page-titlebar-backgroundColor":{"value":"#09759f","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0daae7","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#09759f","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2a4cccc1f2ec666f","type":"ui-base","name":"My Dashboard","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"showPageTitle":true,"navigationStyle":"default","titleBarStyle":"default"},{"id":"b8c087a030a40e88","type":"ui-theme","name":"Default Theme","colors":{"surface":"#13458c","primary":"#0095ff","bgPage":"#050505","groupBg":"#f8fcfa","groupOutline":"#e8eded"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"91ca877ba92392b8","type":"ui-page","name":"Home","ui":"2a4cccc1f2ec666f","path":"/home","icon":"home","layout":"grid","theme":"b8c087a030a40e88","order":1,"className":"","visible":true,"disabled":false},{"id":"c880cc57dd566c40","type":"ui-page","name":"Settings","ui":"2a4cccc1f2ec666f","path":"/settings","icon":"home","layout":"grid","theme":"b8c087a030a40e88","order":2,"className":"","visible":true,"disabled":false},{"id":"608ec21444db933d","type":"ui-group","name":"Controls","page":"91ca877ba92392b8","width":"2","height":"1","order":2,"showTitle":true,"className":"my-custom-class","visible":"true","disabled":"false"},{"id":"65d2902c5e05e02c","type":"ui-group","name":"Anedya connection credentials","page":"c880cc57dd566c40","width":"3","height":"1","order":1,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"ad25646ff154522b","type":"ui-group","name":"Settings","page":"c880cc57dd566c40","width":"2","height":"1","order":2,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"0d68c2b1500af744","type":"ui_group","name":"Group 1","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4b9a82cd860d4d4f","type":"ui_spacer","z":"cc64dd72e548f89a","name":"spacer","group":"0d68c2b1500af744","order":1,"width":1,"height":1},{"id":"d62eb6f272bd1da6","type":"ui-group","name":"Current Temperature","page":"91ca877ba92392b8","width":"2","height":"1","order":3,"showTitle":true,"className":"my-custom-class","visible":"true","disabled":"false"},{"id":"74c256c6933f8b6f","type":"ui-group","name":"Temperature Chart","page":"91ca877ba92392b8","width":"6","height":"1","order":6,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"aedb0d75dc453f72","type":"ui-group","name":"Current Humidity","page":"91ca877ba92392b8","width":"2","height":"1","order":4,"showTitle":true,"className":"my-custom-class","visible":"true","disabled":"false"},{"id":"55fbfd637ade4285","type":"ui-group","name":"Humidity chart","page":"91ca877ba92392b8","width":"6","height":"1","order":7,"showTitle":true,"className":"","visible":"true","disabled":"false"},{"id":"cc9daaeac75086db","type":"ui-group","name":"Device Status","page":"91ca877ba92392b8","width":"2","height":"1","order":1,"showTitle":true,"className":"my-custom-class","visible":"true","disabled":"false"},{"id":"7da969187e283dbb","type":"ui-group","name":"Branding","page":"91ca877ba92392b8","width":"4","height":"1","order":5,"showTitle":false,"className":"","visible":"true","disabled":"false"},{"id":"30733624289f93a6","type":"inject","z":"cc64dd72e548f89a","name":"get_latest_data_payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"nodes\":[\"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\"],\"variable\":\"temperature\"}","payloadType":"json","x":510.00001525878906,"y":720.0000171661377,"wires":[["1e87bd738548db3d","59c9683ac1cecc4b"]]},{"id":"f4e40cf92d36e6f0","type":"debug","z":"cc64dd72e548f89a","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1104.4447326660156,"y":627.8888959884644,"wires":[]},{"id":"59c9683ac1cecc4b","type":"http request","z":"cc64dd72e548f89a","name":"get_latest_data","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.anedya.io/v1/data/latest","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer c93b7fdbcb11a189e8f33a89d1bfa56f92836d5ed3c148ec9bf912f29a9abee5"},{"keyType":"Accept","keyValue":"","valueType":"application/json","valueValue":""}],"x":900.0000152587891,"y":720.0000171661377,"wires":[["f4e40cf92d36e6f0","fe87a67ec82f45a8"]]},{"id":"fe87a67ec82f45a8","type":"function","z":"cc64dd72e548f89a","name":"function 1","func":"let parsedData;\n\ntry {\n    parsedData = JSON.parse(msg.payload);  // Safely parse the JSON\n} catch (e) {\n    node.error(\"Failed to parse JSON: \" + e.message, msg);\n    return null;  // Stop processing if JSON parsing fails\n}\n\nif (parsedData.data && Array.isArray(parsedData.data) && parsedData.data.length > 0) {\n    const value = parsedData.data[0].value;\n    if (global.get(\"is_device_on\")) {\n        msg.payload = value;  // Convert the value to a string\n    }else{\n        msg.payload = NaN;  // Convert the value to a string\n    }\n} else {\n    //node.error(\"parsedData.data is not an array or is empty\", msg);\n    return null;  // Stop processing if data is not valid\n}\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1104.4447326660156,"y":727.8888959884644,"wires":[["f6a975daf07485e8","8e9a4a6a9d353943","dce12d47baa079ca"]]},{"id":"dce12d47baa079ca","type":"debug","z":"cc64dd72e548f89a","name":"debug 2","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1350.000015258789,"y":800.0000171661377,"wires":[]},{"id":"b74bc177fc5caf44","type":"inject","z":"cc64dd72e548f89a","name":"get_latest_data_payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"{\"nodes\":[\"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\"],\"variable\":\"humidity\"}","payloadType":"json","x":506.6666717529297,"y":983.333345413208,"wires":[["5ac3453baed4a0e7","c9d4c5a6e586d66f"]]},{"id":"2231d177f2971bea","type":"debug","z":"cc64dd72e548f89a","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1078.4446029663086,"y":907.333345413208,"wires":[]},{"id":"5ac3453baed4a0e7","type":"http request","z":"cc64dd72e548f89a","name":"get_latest_data","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.anedya.io/v1/data/latest","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer c93b7fdbcb11a189e8f33a89d1bfa56f92836d5ed3c148ec9bf912f29a9abee5"},{"keyType":"Accept","keyValue":"","valueType":"application/json","valueValue":""}],"x":856.6666717529297,"y":983.333345413208,"wires":[["2231d177f2971bea","6f4e0351336dd2cd"]]},{"id":"7179195eaf859061","type":"debug","z":"cc64dd72e548f89a","name":"debug 4","active":false,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1271.6667251586914,"y":1048.3332982063293,"wires":[]},{"id":"70684baa6b26ace2","type":"http request","z":"cc64dd72e548f89a","name":"Anedya Http Post","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.anedya.io/v1/commands/send","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer d090d91cad8ba83adea4c27461131b2fa96c293f0ed95527351a88481ddfa58c"},{"keyType":"Accept","keyValue":"","valueType":"application/json","valueValue":""}],"x":2170,"y":180,"wires":[[]]},{"id":"f6a975daf07485e8","type":"ui-chart","z":"cc64dd72e548f89a","group":"74c256c6933f8b6f","name":"Temperature chart 2.0","label":"","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"","xAxisPropertyType":"property","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","yAxisLabel":"Celsius (°C)","yAxisProperty":"","ymin":"","ymax":"","action":"append","stackSeries":false,"pointShape":"line","pointRadius":"2","showLegend":false,"removeOlder":"15","removeOlderUnit":"60","removeOlderPoints":"2000","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"6","height":"5","className":"","x":1356.6669311523438,"y":740.0000019073486,"wires":[[]]},{"id":"8e9a4a6a9d353943","type":"ui-gauge","z":"cc64dd72e548f89a","name":"Temperature Gauge 2.0","group":"d62eb6f272bd1da6","order":1,"width":"2","height":"2","gtype":"gauge-half","gstyle":"needle","title":"","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"35","color":"#ffc800"},{"from":"70","color":"#ea5353"}],"min":0,"max":"100","sizeThickness":"16","sizeGap":"4","sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"custom-gauge-css","x":1366.6669311523438,"y":680.0000019073486,"wires":[]},{"id":"4374941834cd5278","type":"ui-gauge","z":"cc64dd72e548f89a","name":"Humidity Gauge 2.0","group":"aedb0d75dc453f72","order":1,"width":"2","height":"2","gtype":"gauge-half","gstyle":"needle","title":"","units":"%","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"35","color":"#ffc800"},{"from":"70","color":"#252be4"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"custom-gauge-css","x":1301.6667251586914,"y":968.3332982063293,"wires":[]},{"id":"542ee6e44901b351","type":"ui-chart","z":"cc64dd72e548f89a","group":"55fbfd637ade4285","name":"Humidity chart","label":"","order":1,"chartType":"line","category":"topic","categoryType":"msg","xAxisLabel":"Time","xAxisProperty":"","xAxisPropertyType":"property","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","yAxisLabel":"percent (%)","yAxisProperty":"","ymin":"","ymax":"","action":"append","stackSeries":false,"pointShape":"line","pointRadius":"2","showLegend":false,"removeOlder":"15","removeOlderUnit":"60","removeOlderPoints":"2000","colors":["#0095ff","#ff0000","#ff7f0e","#2ca02c","#a347e1","#d62728","#ff9896","#9467bd","#c5b0d5"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":"6","height":"5","className":"","x":1296.1112365722656,"y":1009.4444770812988,"wires":[[]]},{"id":"d0dc83bc988f28d4","type":"ui-switch","z":"cc64dd72e548f89a","d":true,"name":"All 2.0","label":"All","group":"608ec21444db933d","order":3,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","style":"","className":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":535.0000076293945,"y":78.33334159851074,"wires":[["eafae3fcce8eb99a"]]},{"id":"df81703518d125a0","type":"debug","z":"cc64dd72e548f89a","name":"debug 9","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":885.0000076293945,"y":78.33334159851074,"wires":[]},{"id":"eafae3fcce8eb99a","type":"function","z":"cc64dd72e548f89a","name":"function 3","func":"let currentEpochTime = Math.floor(Date.now() / 1000);\nlet future_24_hour_time_ms = (currentEpochTime + 86400) * 1000;\nlet button_state\nif (msg.payload){\n    button_state=\"on\"\n}else{\n    button_state=\"off\"\n}\nlet json_payload = {\n    \"nodeid\": \"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\",\n    \"command\": \"bulb\",\n    \"data\": button_state,\n    \"type\": \"string\",\n    \"expiry\": future_24_hour_time_ms\n};\nmsg.payload = JSON.stringify(json_payload);\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":725.0000076293945,"y":78.33334159851074,"wires":[["df81703518d125a0"]]},{"id":"96f20efd1e708518","type":"ui-button","z":"cc64dd72e548f89a","group":"608ec21444db933d","name":"ALL-ON","label":"All ON","order":4,"width":"1","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"true","payloadType":"bool","topic":"topic","topicType":"msg","buttonColor":"'green'","textColor":"","iconColor":"","x":1005,"y":408.33334851264954,"wires":[["bea6ac6d48e00268","ad94c98b4df40846","4adaf38a5b456694","9e25a35f4bccae43","a6ee086ccbece116","ead59d17cfacd9ba"]]},{"id":"bea6ac6d48e00268","type":"ui-switch","z":"cc64dd72e548f89a","name":"Light Switch 2.0","label":"Light ","group":"608ec21444db933d","order":1,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","style":"","className":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1285,"y":388.33334851264954,"wires":[["4adaf38a5b456694","a6ee086ccbece116"]]},{"id":"ad94c98b4df40846","type":"ui-switch","z":"cc64dd72e548f89a","name":"Fan Switch 2.0","label":"Fan ","group":"608ec21444db933d","order":2,"width":0,"height":0,"passthru":false,"topic":"topic","topicType":"msg","style":"","className":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1285,"y":468.33334851264954,"wires":[["9e25a35f4bccae43","ead59d17cfacd9ba"]]},{"id":"4adaf38a5b456694","type":"function","z":"cc64dd72e548f89a","name":"function 4","func":"let currentEpochTime = Math.floor(Date.now() / 1000);\nlet future_24_hour_time_ms = (currentEpochTime + 86400) * 1000;\nlet button_state\nif (msg.payload){\n    button_state=\"on\"\n}else{\n    button_state=\"off\"\n}\nlet json_payload = {\n    \"nodeid\": \"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\",\n    \"command\": \"Light\",\n    \"data\": button_state,\n    \"type\": \"string\",\n    \"expiry\": future_24_hour_time_ms\n};\nmsg.payload = JSON.stringify(json_payload);\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1465,"y":388.33334851264954,"wires":[["77d96584db78cbf4","a0f80171cf12c210"]]},{"id":"9e25a35f4bccae43","type":"function","z":"cc64dd72e548f89a","name":"function 5","func":"let currentEpochTime = Math.floor(Date.now() / 1000);\nlet future_24_hour_time_ms = (currentEpochTime + 86400) * 1000;\nlet button_state\nif (msg.payload){\n    button_state=\"on\"\n}else{\n    button_state=\"off\"\n}\nlet json_payload = {\n    \"nodeid\": \"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\",\n    \"command\": \"fan\",\n    \"data\": button_state,\n    \"type\": \"string\",\n    \"expiry\": future_24_hour_time_ms\n};\nmsg.payload = JSON.stringify(json_payload);\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1465,"y":488.33334851264954,"wires":[["837b9de2b6cf6336","62e2ec4e9bc1b1b9"]]},{"id":"350c780bab8f24b9","type":"ui-button","z":"cc64dd72e548f89a","group":"608ec21444db933d","name":"ALL-OFF","label":"All OFF","order":5,"width":"1","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"false","payloadType":"bool","topic":"topic","topicType":"msg","buttonColor":"'green'","textColor":"","iconColor":"","x":1005,"y":468.33334851264954,"wires":[["bea6ac6d48e00268","ad94c98b4df40846","4adaf38a5b456694","ead59d17cfacd9ba","a6ee086ccbece116","a5bd275360fc329d","9e25a35f4bccae43"]]},{"id":"77d96584db78cbf4","type":"debug","z":"cc64dd72e548f89a","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1614.555591583252,"y":402.44448006153107,"wires":[]},{"id":"a0f80171cf12c210","type":"http request","z":"cc64dd72e548f89a","name":"send_command","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.anedya.io/v1/commands/send","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer c93b7fdbcb11a189e8f33a89d1bfa56f92836d5ed3c148ec9bf912f29a9abee5"},{"keyType":"Accept","keyValue":"","valueType":"application/json","valueValue":""}],"x":1634.555591583252,"y":362.44448006153107,"wires":[["5cdedc1853ef804e"]]},{"id":"837b9de2b6cf6336","type":"http request","z":"cc64dd72e548f89a","name":"send_command","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.anedya.io/v1/commands/send","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer c93b7fdbcb11a189e8f33a89d1bfa56f92836d5ed3c148ec9bf912f29a9abee5"},{"keyType":"Accept","keyValue":"","valueType":"application/json","valueValue":""}],"x":1636.6666717529297,"y":465.3333466053009,"wires":[["5b2c40477b81de8e"]]},{"id":"62e2ec4e9bc1b1b9","type":"debug","z":"cc64dd72e548f89a","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1615.555591583252,"y":516.4444657564163,"wires":[]},{"id":"5cdedc1853ef804e","type":"debug","z":"cc64dd72e548f89a","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1875.6666717529297,"y":351.33336091041565,"wires":[]},{"id":"5b2c40477b81de8e","type":"debug","z":"cc64dd72e548f89a","name":"debug 6","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1877.7777519226074,"y":454.2222274541855,"wires":[]},{"id":"c1cc3cceb3fe9e59","type":"http request","z":"cc64dd72e548f89a","name":"[https] get key-value","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.anedya.io/v1/valuestore/getValue","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer c93b7fdbcb11a189e8f33a89d1bfa56f92836d5ed3c148ec9bf912f29a9abee5"},{"keyType":"Accept","keyValue":"","valueType":"application/json","valueValue":""}],"x":956.1110916137695,"y":331.66667675971985,"wires":[["862b5f4e2026532f"]]},{"id":"af91af683872a6f0","type":"inject","z":"cc64dd72e548f89a","name":"Sync Light state","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":520.5555648803711,"y":377.2222492694855,"wires":[["70fe308931fe8727"]]},{"id":"70fe308931fe8727","type":"template","z":"cc64dd72e548f89a","name":"light_payload","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"namespace\": {\n    \"scope\": \"node\",\n    \"id\": \"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\"\n  },\n  \"key\": \"Light\"\n}","output":"json","x":600.5555648803711,"y":337.2222492694855,"wires":[["fd8e02c1b6f38f26"]]},{"id":"fd8e02c1b6f38f26","type":"json","z":"cc64dd72e548f89a","name":"json to string","property":"payload","action":"str","pretty":false,"x":760.5555648803711,"y":337.2222492694855,"wires":[["c1cc3cceb3fe9e59"]]},{"id":"862b5f4e2026532f","type":"function","z":"cc64dd72e548f89a","name":"function 6","func":"const parsedData = JSON.parse(msg.payload);\nconst value = parsedData.value;\nmsg.payload=value\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1136.1110916137695,"y":331.66667675971985,"wires":[["bea6ac6d48e00268"]]},{"id":"f4c0839d5174e82e","type":"http request","z":"cc64dd72e548f89a","name":"[https] Fan get key-value","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.anedya.io/v1/valuestore/getValue","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer c93b7fdbcb11a189e8f33a89d1bfa56f92836d5ed3c148ec9bf912f29a9abee5"},{"keyType":"Accept","keyValue":"","valueType":"application/json","valueValue":""}],"x":935,"y":528.3333485126495,"wires":[["ba1e425263033308"]]},{"id":"d36f93173f4aca0d","type":"json","z":"cc64dd72e548f89a","name":"json to string","property":"payload","action":"str","pretty":false,"x":715.0000152587891,"y":536.6666736602783,"wires":[["f4c0839d5174e82e"]]},{"id":"ba1e425263033308","type":"function","z":"cc64dd72e548f89a","name":"function 7","func":"const parsedData = JSON.parse(msg.payload);\nconst value = parsedData.value;\nmsg.payload=value\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1125,"y":528.3333485126495,"wires":[["ad94c98b4df40846"]]},{"id":"25b149d370343765","type":"template","z":"cc64dd72e548f89a","name":"light_payload","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n  \"namespace\": {\n    \"scope\": \"node\",\n    \"id\": \"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\"\n  },\n  \"key\": \"Fan\"\n}","output":"json","x":555.0000152587891,"y":536.6666736602783,"wires":[["d36f93173f4aca0d"]]},{"id":"6734ac4e428c0a40","type":"inject","z":"cc64dd72e548f89a","name":"Sync Fan state","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":505.00001525878906,"y":496.6666736602783,"wires":[["25b149d370343765"]]},{"id":"a6ee086ccbece116","type":"function","z":"cc64dd72e548f89a","name":"function 8","func":"var payloadJson\nif(msg.payload){\n    payloadJson={\n  \"namespace\": {\n    \"scope\": \"node\",\n    \"id\": \"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\"\n  },\n  \"key\": \"Light\",\n  \"value\": true,\n  \"type\": \"boolean\"\n}\n    }else{\n        payloadJson={\n  \"namespace\": {\n    \"scope\": \"node\",\n    \"id\": \"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\"\n  },\n  \"key\": \"Light\",\n  \"value\": false,\n  \"type\": \"boolean\"\n}\n    }\n\nvar jsonStr=JSON.stringify(payloadJson);\nmsg.payload=jsonStr\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1456.1110916137695,"y":311.66667675971985,"wires":[["720a217c81844fa0"]]},{"id":"720a217c81844fa0","type":"http request","z":"cc64dd72e548f89a","name":"[https] Light set key-value","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.anedya.io/v1/valuestore/setValue","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer c93b7fdbcb11a189e8f33a89d1bfa56f92836d5ed3c148ec9bf912f29a9abee5"},{"keyType":"Accept","keyValue":"","valueType":"application/json","valueValue":""}],"x":1666.1110916137695,"y":311.66667675971985,"wires":[[]]},{"id":"872da5f7bf30417e","type":"debug","z":"cc64dd72e548f89a","name":"debug 10","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1865,"y":568.3333485126495,"wires":[]},{"id":"d6e7d150dec0fda8","type":"http request","z":"cc64dd72e548f89a","name":"[https] Fan set key-value","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.anedya.io/v1/valuestore/setValue","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer c93b7fdbcb11a189e8f33a89d1bfa56f92836d5ed3c148ec9bf912f29a9abee5"},{"keyType":"Accept","keyValue":"","valueType":"application/json","valueValue":""}],"x":1675,"y":568.3333485126495,"wires":[["872da5f7bf30417e"]]},{"id":"ead59d17cfacd9ba","type":"function","z":"cc64dd72e548f89a","name":"function 9","func":"let payloadJson\nif(msg.payload){\n    payloadJson={\n  \"namespace\": {\n    \"scope\": \"node\",\n    \"id\": \"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\"\n  },\n  \"key\": \"Fan\",\n  \"value\": true,\n  \"type\": \"boolean\"\n}\n    }else{\n       payloadJson={\n  \"namespace\": {\n    \"scope\": \"node\",\n    \"id\": \"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\"\n  },\n  \"key\": \"Fan\",\n  \"value\": false,\n  \"type\": \"boolean\"\n}\n    }\n\nvar jsonStr=JSON.stringify(payloadJson);\nmsg.payload=jsonStr\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1465,"y":568.3333485126495,"wires":[["d6e7d150dec0fda8"]]},{"id":"1e87bd738548db3d","type":"function","z":"cc64dd72e548f89a","d":true,"name":"function 10","func":"var apiKey=global.get(\"apiKey\")\nvar apiKey_in_formate=\"Bearer \"+apiKey\nmsg.apiKey=apiKey_in_formate\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750.0000152587891,"y":660.0000171661377,"wires":[["59c9683ac1cecc4b"]]},{"id":"c9d4c5a6e586d66f","type":"function","z":"cc64dd72e548f89a","d":true,"name":"function 11","func":"var apiKey=global.get(\"apiKey\")\nvar apiKey_in_formate=\"Bearer \"+apiKey\nmsg.apiKey=apiKey_in_formate\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":697.2223281860352,"y":906.1111297607422,"wires":[["5ac3453baed4a0e7"]]},{"id":"a5bd275360fc329d","type":"debug","z":"cc64dd72e548f89a","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1465,"y":628.3333485126495,"wires":[]},{"id":"ddf319c5cbe6d777","type":"ui-button","z":"cc64dd72e548f89a","group":"ad25646ff154522b","name":"Node-editor","label":"Node Editor","order":1,"width":"2","height":"1","emulateClick":false,"tooltip":"","color":"","bgcolor":"","className":"","icon":"","iconPosition":"left","payload":"","payloadType":"str","topic":"topic","topicType":"msg","buttonColor":"","textColor":"","iconColor":"","x":1990,"y":180,"wires":[[]]},{"id":"c7d57b62287d0c5e","type":"inject","z":"cc64dd72e548f89a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"20","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":473.33333587646484,"y":1128.3333339691162,"wires":[["8306ea98ca43c81f"]]},{"id":"8306ea98ca43c81f","type":"function","z":"cc64dd72e548f89a","name":"function 12","func":"let a = Math.floor(Math.random() * 101); // generate a random number between 0 and 100\nif(global.get(\"is_device_on\")){\nmsg.payload = 100;\n}else{\n    msg.payload = NaN;\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":753.3333358764648,"y":1128.3333339691162,"wires":[["9d2f136ecb5b78e0","426dac5b5175c659"]]},{"id":"9d2f136ecb5b78e0","type":"debug","z":"cc64dd72e548f89a","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1003.3333358764648,"y":1168.3333339691162,"wires":[]},{"id":"426dac5b5175c659","type":"ui-gauge","z":"cc64dd72e548f89a","name":"Battery Level","group":"cc9daaeac75086db","order":2,"width":"2","height":"2","gtype":"gauge-battery","gstyle":"needle","title":"","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353"},{"from":"40","color":"#ffc800"},{"from":"70","color":"#2f35e4"}],"min":0,"max":"100","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":1013.3333358764648,"y":1088.3333339691162,"wires":[]},{"id":"209cf70215ee9234","type":"function","z":"cc64dd72e548f89a","name":"function 14","func":"if (msg.payload) {\n    // To enable group\n    global.set(\"is_device_on\",true);\n    msg.payload = {\n        groups: {\n            enable: ['Home:Current Temperature','Home:Current Humidity','Home:Controls','Home:Temperature Chart','Home:Humidity chart','Home:Device Status']\n        }\n    };\n\n}\nelse {\n    // To disable group\n    global.set(\"is_device_on\",false);\n    msg.payload = {\n        groups: {\n            disable: ['Home:Current Temperature','Home:Current Humidity','Home:Controls','Home:Temperature Chart','Home:Humidity chart','Home:Device Status']\n        }\n    };\n\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1190,"y":260,"wires":[["90da610bb599f318"]]},{"id":"90da610bb599f318","type":"ui-control","z":"cc64dd72e548f89a","name":"","ui":"2a4cccc1f2ec666f","events":"connect","x":1420,"y":220,"wires":[[]]},{"id":"aa83451298fc2e81","type":"debug","z":"cc64dd72e548f89a","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1149.9999732971191,"y":176.66670608520508,"wires":[]},{"id":"6f4e0351336dd2cd","type":"function","z":"cc64dd72e548f89a","name":"function 15","func":"const parsedData = JSON.parse(msg.payload);\nconst value = parsedData.data[0].value;\nif (global.get(\"is_device_on\")) {\n    msg.payload = value;\n}else{\n    msg.payload=NaN;\n}\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1077.2223281860352,"y":986.1111297607422,"wires":[["4374941834cd5278","542ee6e44901b351","7179195eaf859061"]]},{"id":"7075051f1553a703","type":"inject","z":"cc64dd72e548f89a","name":"get_latest_data_payload","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":"1","topic":"","payload":"{\"nodes\":[\"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\"],\"variable\":\"deviceLiveStatus\"}","payloadType":"json","x":504.99997329711914,"y":210.00003051757812,"wires":[["103034258cbe9adc"]]},{"id":"103034258cbe9adc","type":"http request","z":"cc64dd72e548f89a","name":"get_latest_data","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://api.anedya.io/v1/data/latest","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Authorization","keyValue":"","valueType":"other","valueValue":"Bearer c93b7fdbcb11a189e8f33a89d1bfa56f92836d5ed3c148ec9bf912f29a9abee5"},{"keyType":"Accept","keyValue":"","valueType":"application/json","valueValue":""}],"x":738.3333168029785,"y":210.00003910064697,"wires":[["599d0d1c4ff58cf6"]]},{"id":"599d0d1c4ff58cf6","type":"function","z":"cc64dd72e548f89a","name":"function 16","func":"const parsedData = JSON.parse(msg.payload);\nconst value = parsedData.data[0].value;\nlet current_deviceLiveTimestamp = parsedData.data[0].timestamp;\nlet current_time = Math.floor(Date.now() / 1000);\nif ((current_time - current_deviceLiveTimestamp ) < 180) {\n    msg.payload = 1;\n    msg.deviceLiveStatus=1;\n    \n}else{\n    msg.payload = 0;\n    msg.deviceLiveStatus=0;\n}\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":919.9999732971191,"y":216.66670608520508,"wires":[["aa83451298fc2e81","209cf70215ee9234","333569c270f89316"]]},{"id":"ebe96b2fb011ed0b","type":"ui-template","z":"cc64dd72e548f89a","d":true,"group":"","page":"","ui":"","name":"Device live Satus","order":2,"width":0,"height":0,"head":"","format":"<style>\n    #container {\n        max-height: 120px;\n        /* Reduced height by another 20px */\n        overflow-y: hidden;\n        padding: 14px;\n        background-color: #f0f0f0;\n        border-radius: 5px;\n        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);\n        position: relative;\n        -ms-overflow-style: none;\n        scrollbar-width: none;\n    }\n\n    #container::-webkit-scrollbar {\n        display: none;\n    }\n\n    #status-indicator {\n        width: 25px;\n        height: 25px;\n        position: absolute;\n        top: 0;\n        left: 0;\n        border-radius: 50%;\n        display: inline-block;\n    }\n\n    .online {\n        background-color: green;\n    }\n\n    .offline {\n        background-color: red;\n    }\n\n    #status-text {\n        font-size: 16px;\n        font-weight: bold;\n        margin-left: 35px;\n    }\n</style>\n\n<div id=\"container\">\n    <div>\n        <div id=\"status-indicator\" class=\"offline\"></div>\n        <span id=\"status-text\">Device is offline</span>\n    </div>\n</div>\n\n<script>\n    function updateStatus(isOnline) {\n        const indicator = document.getElementById('status-indicator');\n        const statusText = document.getElementById('status-text');\n\n        if (isOnline) {\n            indicator.className = 'online';\n            statusText.innerText = 'Device is online';\n        } else {\n            indicator.className = 'offline';\n            statusText.innerText = 'Device is offline';\n        }\n    }\n\n    function handleMsgPayload(payload) {\n        updateStatus(payload);\n    }\n\n    async function fetchDeviceStatus() {\n        const url = 'https://api.anedya.io/v1/data/latest'; // Replace with your URL\n        const headers = {\n            'Content-Type': 'application/json',\n            'Authorization': 'Bearer c93b7fdbcb11a189e8f33a89d1bfa56f92836d5ed3c148ec9bf912f29a9abee5' // Replace with your authorization header if needed\n        };\n        const body = JSON.stringify({\n            \"nodes\": [\n            \"20deeee8-f8ae-11ee-9dd8-c3aa61afe2fb\"\n            ],\n            \"variable\": \"deviceLiveStatus\"\n        });\n\n        try {\n            const response = await fetch(url, {\n                method: 'POST',\n                headers: headers,\n                body: body\n            });\n            \n            if (!response.ok) {\n                throw new Error('Network response was not ok');\n            }\n            \n            const data = await response.json();\n            const parsedData = JSON.parse(data);\n            const value = parsedData.data[0].value;\n            let current_deviceLiveTimestamp = parsedData.data[0].timestamp;\n            let current_time = Math.floor(Date.now() / 1000);\n            if ((current_time - current_deviceLiveTimestamp ) < 180) {\n                handleMsgPayload(value);\n                \n            }else{\n                 handleMsgPayload(value);\n            }\n        } catch (error) {\n            console.error('Error fetching device status:', error);\n        }\n    }\n\n    // Call fetchDeviceStatus every 500ms\n    setInterval(fetchDeviceStatus, 1000);\n\n    // For actual Node-RED integration, use the following:\n    // node.on('input', function(msg) {\n    //     handleMsgPayload(msg.payload);\n    // });\n</script>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":750,"y":800,"wires":[[]],"inputLabels":["msg.payload"]},{"id":"333569c270f89316","type":"ui-gauge","z":"cc64dd72e548f89a","name":"Device Status Indicator","group":"cc9daaeac75086db","order":1,"width":"2","height":"1","gtype":"gauge-tile","gstyle":"needle","title":"ON/OFF","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353"},{"from":"1","color":"#5cd65c"}],"min":0,"max":"1","sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"device-live-status-indicator-css","x":1199.9999732971191,"y":216.66670608520508,"wires":[]},{"id":"a89857e78bc939dd","type":"comment","z":"cc64dd72e548f89a","name":"Control Light Flow","info":"","x":390,"y":340,"wires":[]},{"id":"bfaf64d7b08c2f3e","type":"comment","z":"cc64dd72e548f89a","name":"Control Fan Flow","info":"","x":400,"y":460,"wires":[]},{"id":"d30b80265e227be3","type":"comment","z":"cc64dd72e548f89a","name":"Check Device Connectivity","info":"","x":470,"y":160,"wires":[]},{"id":"3b77ceb72c380e2e","type":"debug","z":"24e1411905e488b9","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":900,"y":120,"wires":[]},{"id":"1b2f80745ba30142","type":"ui-form","z":"24e1411905e488b9","name":"Anedya connection credentials","group":"65d2902c5e05e02c","label":"","order":1,"width":"3","height":"1","options":[{"label":"Node Id","key":"nodeId","type":"text","required":true,"rows":null},{"label":"Api key","key":"apiKey","type":"text","required":true,"rows":null}],"formValue":{"nodeId":"","apiKey":""},"payload":"","submit":"Set","cancel":"clear","resetOnSubmit":false,"topic":"topic","topicType":"msg","splitLayout":false,"className":"","passthru":false,"x":370,"y":120,"wires":[["c2e2d15e0820f94d"]]},{"id":"c2e2d15e0820f94d","type":"function","z":"24e1411905e488b9","name":"func to set the nodeId and apiKey","func":"let form_data=msg.payload\nlet nodeId=form_data.nodeId\nlet apiKey=form_data.apiKey\nglobal.set(\"nodeId\",nodeId)\nglobal.set(\"apiKey\",apiKey)\nlet get_nodeId=global.get(\"nodeId\")\nlet get_apiKey=global.get(\"apiKey\")\nlet json_payload={\n    \"node_id\":get_nodeId,\n    \"api_key\":get_apiKey\n}\nmsg.payload=JSON.stringify(json_payload);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":120,"wires":[["3b77ceb72c380e2e"]]},{"id":"2932098ed8720f05","type":"inject","z":"24e1411905e488b9","name":"Set Global Var","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1320,"y":120,"wires":[["b626d49dbc2dbd96"]]},{"id":"b626d49dbc2dbd96","type":"function","z":"24e1411905e488b9","name":"Set Global Var","func":"global.set(\"humLastFetchDataTimesatamp\",0);\nglobal.set(\"tempLastFetchDataTimesatamp\",0);\nglobal.set(\"is_device_on\",true);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1560,"y":120,"wires":[[]]},{"id":"4a0b67861a64ee85","type":"ui-template","z":"7bef6a87fd115472","group":"","page":"91ca877ba92392b8","ui":"","name":"Home Page CSS","order":2,"width":0,"height":0,"head":"","format":"<style>\n  .my-custom-class {\n    //background-color: #4CAF50; /* Green background */\n    //color: white; /* White text */\n    //border-radius: 5px; /* Rounded corners */\n    // margin-top:0;\n    // padding-top:0;\n    height: 15rem;\n    margin-bottom: 4rem;\n  }\n\n  .custom-gauge-css {\n    padding-top: 2rem;\n    margin-bottom: 3rem;\n  }\n\n  .branding-custom-class {\n    height: 16.3rem;\n    padding:0;\n    margin:0;\n    //padding-bottom: 2rem;\n  }\n\n\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":230,"y":80,"wires":[[]]},{"id":"4f8cba114f31fb56","type":"ui-template","z":"7bef6a87fd115472","group":"7da969187e283dbb","page":"","ui":"","name":"Branding","order":1,"width":"4","height":"2","head":"","format":"<div style=\"text-align: center; padding: 10px; background-color: #f8f9fa; border-bottom: 2px solid #007bff;\">\n    <img src=\"https://camo.githubusercontent.com/7fe4add0cee620cc1ffae9271086ec2a56e1263d39ff9652106504a1cf437c98/68747470733a2f2f63646e2e616e656479612e696f2f616e656479615f626c61636b5f62616e6e65722e706e67\" alt=\"Company Logo\" style=\"height: 75px; width:20rem;\">\n    <h1 style=\"color: #007bff;\"> Anedya </h1>\n    <p style=\"font-size: 18px; color: #555; margin-bottom:0; padding-bottom:0;\">One Stop, IoT Cloud!</p>\n</div>\n\n<style>\n    /* Custom styles for branding */\n    body {\n        font-family: Arial, sans-serif;\n    }\n    h1 {\n        margin: 5px 0;\n    }\n    p {\n        margin: 2px 0;\n    }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"branding-custom-class","x":220,"y":180,"wires":[[]]},{"id":"cc01bc76aa045d15","type":"comment","z":"7bef6a87fd115472","name":"Anedya Branding Node","info":"","x":160,"y":140,"wires":[]},{"id":"b824a1dfd0689e47","type":"comment","z":"7bef6a87fd115472","name":"UI CSS Handler","info":"","x":120,"y":40,"wires":[]}]